a.a11y-skip-link {
  & {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
  }

  &:focus,
  &:active {
    position: relative;
    display: inline-block;
    background: var(--background);
    color: var(--accent);
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    border: 0.25rem solid var(--accent);
    padding: 1rem;
    font-size: 1.4em;
    z-index: 999;
    text-align: center;
    transition: opacity 0.2s ease-in;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;

  a {
    color: var(--accent);
  }

  .title-container {
    max-width: calc(768px - (var(--horizontal-padding) * 2) - (var(--header-icon-padding) * 2));
    width: 100%;
    margin: 0 auto;

    .hero-image-container {
      position: relative;

      &.invert {
        .blog-hero-image {
          filter: var(--invert-light);
        }
      }

      .blog-hero-image {
        height: 230px;
        filter: var(--invert-dark);
      }

      h1 {
        font-size: 1.7rem;
        position: absolute;
        color: var(--text);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
      }
    }
  }

  @media (max-width: $smartphone-breakpoint) {
    .title-container > h1 {
      padding: 0 calc((var(--horizontal-padding)) + var(--header-icon-padding));
    }
  }
}
