.post-preview {
  color: var(--text);
  max-width: 58ch;
  padding: 0 0 1rem;
  margin: 0 auto;
  border-bottom: 2px dotted var(--text-secondary);
  font-family: 'Roboto Slab', serif;

  &:not(:first-child) {
    margin-top: 2rem;
  }

  h2.title {
    margin: 0.7ch 0;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Roboto Slab', serif;

    a {
      color: var(--text);
    }
  }

  .subtitle {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: var(--secondary-text);
  }

  p.description {
    margin: 1ch 0;
    line-height: 25px;
  }
}
