.homepage {
  .wrapper .content-container {
    .profile-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 0 1.75rem;

      .title {
        grid-column: span 2;
        align-self: center;

        h1 {
          font-weight: 400;
          font-size: 1.69rem;
          margin: 0 0 1rem;
        }

        a {
          margin-right: 0.5rem;
        }
      }

      .profile-picture {
        width: 250px;
        border-radius: 50%;
      }
    }

    .description {
      p {
        margin: 0 0 0.5rem;
      }
    }

    @media only screen and (max-width: $tablet-breakpoint) {
      &.with-margin.homepage {
        margin-top: 1.5rem;
      }
    }

    @media only screen and (max-width: $smartphone-breakpoint) {
      .profile-card {
        justify-content: center;

        .title {
          order: 1;
          width: 300px;
          text-align: center;

          h1 {
            font-size: 2.08rem;
          }

          h2 {
            font-size: 1.18rem;
          }
        }

        .profile-picture {
          width: 180px;
          margin: 0 0 1rem;
        }
      }
    }
  }
}
