header {
  position: relative;
  display: flex;
  background-color: #6a0dad77;

  font-family: 'Roboto Condensed', sans-serif;

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: white;
  }
}
