body {
  &.dark {
    --background: #000;
    --background-secondary: #212121;
    --text: #fff;
    --text-secondary: #757575;
    --accent: #d32f2f;
  }

  &.light {
    --background: #fff;
    --background-secondary: #fafafa;
    --text: #000;
    --text-secondary: #757575;
    --accent: #f44336;
  }
}
