body {
  &.dark {
    --background: #121212;
    --background-secondary: #202020;
    --background-tertiary: #424242;
    --divider: #bdbdbd;
    --text: #fff;
    --text-secondary: #bdbdbd;
    --accent: #ff5252;
    --box-shadow-layer-1: rgba(255, 255, 255, 0.2);
    --box-shadow-layer-2: rgba(255, 255, 255, 0.14);
    --box-shadow-layer-3: rgba(255, 255, 255, 0.12);
    --invert: invert(0);
  }

  &.light {
    --background: #e1e0e1;
    --background-secondary: #fafafa;
    --background-tertiary: #bdbdbd;
    --divider: #bdbdbd;
    --text: #212121;
    --text-secondary: #616161;
    --accent: #d50000;
    --box-shadow-layer-1: rgba(0, 0, 0, 0.2);
    --box-shadow-layer-2: rgba(0, 0, 0, 0.14);
    --box-shadow-layer-3: rgba(0, 0, 0, 0.12);
    --invert: invert(1);
  }
}
