body {
  --dwy-gray: #f5f3f4;
  --dwy-red: #d62828;
  --dwy-blue: #0466c8;

  --violet: #663399;
  --violet-900: #1a004d;
  --violet-800: #330066;
  --violet-700: #4d1a80;
  --violet-300: #804db3;
  --violet-200: #9966cc;
  --violet-100: #b380e6;

  --green: #20bf55;
  --green-900: #004000;
  --green-800: #007309;
  --green-700: #07a63c;
  --green-300: #3ad96f;
  --green-200: #53f288;
  --green-100: #86ffbb;

  --orange: #fe9000;
  --orange-900: #7f1100;
  --orange-800: #982a00;
  --orange-700: #cb5d00;
  --orange-300: #ffaa1a;
  --orange-200: #ffc333;
  --orange-10: #ffdd4d;

  --yellow: #fbcf3b;
  --yellow-900: #956900;
  --yellow-800: #c89c08;
  --yellow-700: #e2b622;
  --yellow-300: #ffe955;
  --yellow-200: #ffff6e;
  --yellow-100: #ffff88;

  --default-text: #000000;
  --default-text-inverted: #ffffff;
  --neutral-100: #fafafa;
  --neutral-200: #eeeeee;
  --neutral-300: #e0e0e0;
  --neutral-400: #9e9e9e;
  --neutral-500: #616161;
  --neutral-600: #202020;
  --neutral-700: #121212;

  &.dark {
    --background: var(--neutral-700);
    --background-secondary: var(--neutral-600);
    --background-tertiary: var(--neutral-500);
    --divider: var(--neutral-300);
    --text: var(--default-text-inverted);
    --text-secondary: var(--neutral-400);
    --accent: var(--dwy-red);
    --box-shadow-layer-1: rgba(255, 255, 255, 0.2);
    --box-shadow-layer-2: rgba(255, 255, 255, 0.14);
    --box-shadow-layer-3: rgba(255, 255, 255, 0.12);
    --invert-dark: invert(0);
    --invert-light: invert(1);
  }

  &.light {
    --background: var(--neutral-100);
    --background-secondary: var(--neutral-200);
    --background-tertiary: var(--neutral-300);
    --divider: var(--neutral-300);
    --text: var(--default-text);
    --text-secondary: var(--neutral-500);
    --accent: var(--dwy-red);
    --box-shadow-layer-1: rgba(0, 0, 0, 0.2);
    --box-shadow-layer-2: rgba(0, 0, 0, 0.14);
    --box-shadow-layer-3: rgba(0, 0, 0, 0.12);
    --invert-dark: invert(1);
    --invert-light: invert(0);
  }
}
