$smartphone-breakpoint: 425px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1025px;

body {
  --header-height: 48px;
  --header-icon-padding: 0.3rem;
  --vertical-padding: 1.45rem;
  --horizontal-padding: 1.0875rem;
  --h1-size: 2.488rem;
  --h2-size: 2.074rem;
  --h3-size: 1.728rem;
  --h4-size: 1.44rem;
  --h5-size: 1.2rem;
  --h6-size: 0.833rem;

  @media (max-width: $smartphone-breakpoint) {
    --horizontal-padding: 0.6rem;
    --h1-size: calc(2.488rem * 0.68);
    --h2-size: calc(2.074rem * 0.68);
    --h3-size: calc(1.728rem * 0.68);
    --h4-size: calc(1.44rem * 0.68);
    --h5-size: calc(1.2rem * 0.68);
    --h6-size: calc(0.833rem * 0.68);
  }
}
