.blog-post {
  color: var(--text);

  .gatsby-image-wrapper {
    max-height: 430px;
    margin-bottom: 1rem;

    img {
      object-fit: cover !important;
      object-position: top !important;
    }
  }

  h1.post-title {
    margin: 0 0 0.75rem;
  }

  h2.post-subtitle {
    color: var(--text-secondary);
    font-size: 0.9rem;
    line-height: 1.75;
    margin: 0.25rem 0 0;

    a {
      color: var(--text-secondary);
    }
  }

  .heading {
    margin: 0 0 1.8rem;
  }

  .post-body {
    border-bottom: 1px solid var(--background-tertiary);
    margin: 0 0 1.3rem;

    img {
      object-fit: contain;
    }

    img.vertical {
      object-fit: contain;
    }

    p > code[class*='language-'],
    li > code[class*='language-'] {
      font-size: 0.9rem;
      color: var(--text);
      background-color: var(--background-tertiary);
    }

    .twitter-tweet-rendered {
      margin: 0 auto;
    }
  }

  .post-tags {
    & > a {
      text-transform: lowercase;
    }
  }

  section.next-read {
    .section-title {
      text-transform: uppercase;
    }
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;

      a {
        border: 2px solid var(--accent);
        border-radius: 4px;
        text-decoration: none;
        background: none;
        padding: 1rem;

        &:hover {
          background-color: var(--accent);
          color: var(--text);
        }

        .post-preview-container {
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  @media (max-width: 425px) {
    .gatsby-image-wrapper {
      height: 250px;
    }

    h2.post-subtitle {
      color: var(--text-secondary);
      font-size: 0.75rem;
    }

    .post-body {
      figure {
        img {
          height: 250px;
        }
      }
    }

    section.next-read {
      .container {
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
      }
    }
  }
}
